@import url(global.css);


header{
    background-color: var(--background-color);
    box-shadow: 0 3px 5px grey;

    position: sticky;
    top: 0;

    z-index: 999;
    .nav-container{
        padding: 0.7rem 0;
    }
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
    nav ul{
        display: flex;
        list-style: none;
        gap: 30px;
    }
    nav ul li a {
        text-decoration: none;
        font-weight: 600;
        color: var(--text-light-color);
        transition: all 0.1s ease-in;
    }
    nav ul li a:hover {
        color: var(--text-secondary-color);
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .megatron {
        position: relative;
        height: 100vh;
        width: 100%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.199); 

    }
    .megatron::before {
        content: "";
        position: absolute;
        width: 100vw;
        height: 100%;
        background-image: url(/asset/img/donut-home.jpg);
        background-size: cover;
        background-position: center;
        filter: blur(7px); 
        z-index: -1; 
    }
    .megatron article {
        background: rgba(255, 255, 255, 0.1); 
        backdrop-filter: blur(9px);
        padding: 2rem;
        border-radius: 12px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        color: var(--text-light-color);
        
        max-width: 700px;
        text-align: center;

        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .menu-welcome{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .menu-welcome h2 {
        font-size: 2rem;
        font-weight: 900;
        /* color: var(--text-primary-color); */
    }
    .menu-welcome p {
        font-size: 1rem;
        line-height: 1.6;
    }
    .menu-button .btn {
        font-size: 1rem;
        color: white;
        background: var(--primary-color);
        border-radius: 20px;
        transition: all 0.3s ease-in-out;
    }
    .menu-button .btn:hover {
        background: var(--secondary-color);
        transform: scale(1.1);
    }
    .highlight{
        color: var(--text-secondary-color);
    }

    .flex-c{
        display: flex;
        width: 100%;
        height: 100%;
        z-index: 2;
        
        #location, #contact{
            min-height: 100vh;
        }
        .location{
            flex: 4;
            display: flex;
            flex-direction: column;
            gap: 2rem;

            margin: 30px 20px;
        }
        
        .location-sec{

            display: flex;
            flex-direction: row;
            gap: 2rem;
            justify-content: flex-start ;
            flex-wrap: wrap;
            align-content: space-evenly;
        }
        .location-sec section {
            background-color: blue;
            height: 20rem;
            min-width: 28rem;
            
        }
        .location-yap{
            width: 95%;
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

        #contact{
            background-color: red;
            flex: 1;
        }

    }

    
}





footer{
    padding: 2rem 0;
    background-color: var(--primary-color);

    width: 100%;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;

    color: var(--text-light-color);

    .footer-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 2rem;
        
        width: 100%;
        max-width: 1200px;
    }
    .f-logo{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .footer-container .f-logo p{
        width: 75%;
        text-align: start;
    }
    .links{
        display: flex;
        gap: 2rem;
    }
    ul li a{
        text-decoration: none;
        color: var(--text-light-color);
    }
    ul li a:hover{
        color: var(--text-secondary-color);
    }
    .links ul li a{
        display: flex;
        gap: 2px;
    }
    ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
    .menu, .location, .contact{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .yapping a{
        color: var(--text-secondary-color);
        text-decoration: none;
        font-weight: 600;
        transition: all 0.3s ease-in-out;
    }
    .yapping a:hover{
        background-color: #fff;
        padding: 3px 3px;
        border-radius: 5px;

        color: var(--primary-color);
    }
}



@media screen and (max-width:1214px){
    header{
        padding: 1rem;
    }
    nav{
        flex-direction: column;
        gap: 1rem;
    }
    .footer-container{
        flex-direction: column;
        align-items: center;
    }
    .footer-container.logo p{
        width: 100%;
    }
    main .flex-c .location-sec{
        justify-content: center;
    }
}

@media screen and (max-width:768px){

    footer .footer-container{
        flex-direction: column;
        align-items: flex-start;
    }
    .links {
        flex-direction: column;
    }
    .megatron article {
        width: 500px;
    }

}  

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.megatron article {
    opacity: 0;
    animation: fadeInUp 1s ease-out forwards;
    animation-delay: 0.5s; 
}
