@import url(global.css);

.nav-container{
    padding: 0.5rem 15rem;
}

header{
    background-color: var(--background-color);
    box-shadow: 0 3px 5px grey;

    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    nav .logo img{
        max-width: 200px;
    }
    nav ul{
        display: flex;
        list-style: none;
        gap: 30px;
    }
    nav ul li a {
        text-decoration: none;
        font-weight: 600;
        color: var(--text-light-color);
        transition: all 0.1s ease-in;
    }
    nav ul li a:hover {
        color: var(--text-secondary-color);
    }
}

main{
    display: flex;
    #side{
        background-color: var(--primary-color);
        width: 20vw;
        height: 100vh;
    }
    #content {
        width: 100vw;
        background-color: white;
        height: 100vh;
    }
}

footer{
    padding: 2rem 0;
    background-color: var(--primary-color);

    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;

    color: var(--text-light-color);

    .footer-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 2rem;
    }
    .footer-container .logo img{
        max-width: 250px;
    }
    .links{
        display: flex;
        gap: 2rem;
    }
    ul li a{
        text-decoration: none;
        color: var(--text-light-color);
    }
    .links ul li a{
        display: flex;
        gap: 2px;
    }
    ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
    .menu, .location, .contact{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .yapping a{
        color: var(--text-secondary-color);
        text-decoration: none;
        font-weight: 600;
    }
}



@media screen and (max-width:1200px){
    header{
        padding: 1rem;
    }
    nav{
        flex-direction: column;
        gap: 1rem;
    }
    .footer-container{
        flex-direction: column;
        align-items: center;
    }

}

@media screen and (max-width:768px){

    footer .footer-container{
        /* flex-direction: column; */
        flex:1;
        align-items: flex-start;
    }
    .links {
        flex-direction: column;
    }
}  